<nav>
    <div class="navbar">
        <div class="navbar_main">
            <div class="navbar_intro">
                <i class="fa-solid fa-campground"></i>
                <a href="/">ChanCamp</a>
            </div>
            <div class="navbar_Tag">
                <a href="/campgrounds">Campgrounds</a>
                <a href="/campgrounds/new">new Campground</a>
            </div>
        </div>
        <div>
            <a href="" class="log">login</a>
            <a href="" class="log">logout</a>
            <a href="" class="log">login</a>
        </div>
    </div>
</nav>