@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');
body {
    font-size: 20px;
    font-weight: lighter;
    background-color: darkgray;
}

a {
    font-family: 'Sono', sans-serif;
    text-decoration: none;
    color: black;
}

button {
    border: none;
}

/* navbar css style */
.navbar {
    position: sticky;
    display: flex;
    width: 100vw;
    align-items: center;
    background-color: lightblue;
    padding: 15px;
    margin-bottom: 20px;
}

.navbar_main {
    display: flex;
}

.navbar_intro {
    display: flex;
    padding-right: 30px;
}

.navbar_intro>i {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.navbar_Tag>a {
    padding: 0 10px;
}

.log {
    margin-left: 20px;
}
.log:nth-of-type(3) {
    padding-right: 40px;
}

/*  */