<% layout('layouts/boilerplate')%> 
<h1>Register</h1>
<form action="/register" method="POST" class="validated-form" novalidate>

    <!-- 유저 이름 -->
    <div class="mb-3">
        <label class="form-label"  for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Please Enter your Username
        </div>
    </div>

    <!-- 유저 이메일 -->
    <div class="mb-3">
        <label class="form-label"  for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Please Enter your Email
        </div>
    </div>

    <!-- 유저 비밀번호 -->
    <div class="mb-3">
        <label class="form-label"  for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Please Enter your Password
        </div>
    </div>
    <button class="btn btn-success">Register</button>
</form>

